if TARGET_FSIMX8MN

config SYS_BOARD
	default "fsimx8mn"

config SYS_VENDOR
	default "F+S"

config SYS_CONFIG_NAME
	default "fsimx8mn"

config IMX8MN_FORCE_NOM_SOC
	bool "Force to use nominal mode for SOC and ARM"
	default n

source "board/freescale/common/Kconfig"

endif
