CONFIG_ARM=y
CONFIG_SYS_THUMB_BUILD=y
# CONFIG_SPL_SYS_THUMB_BUILD is not set
CONFIG_ARCH_MX6=y
CONFIG_SYS_TEXT_BASE=0x80100000
CONFIG_TARGET_FSIMX6UL=y
CONFIG_IDENT_STRING=" for F&S"
CONFIG_FIT=y
CONFIG_OF_BOARD_SETUP=y
CONFIG_SYS_EXTRA_OPTIONS="IMX_CONFIG=board/F+S/fsimx6ul/fsimx6ulimage.cfg"
# CONFIG_SET_BOOTDELAY is not set
CONFIG_USE_BOOTARGS=y
CONFIG_BOOTARGS="undef"
# CONFIG_CONSOLE_MUX is not set
CONFIG_SYS_CONSOLE_IS_IN_ENV=y
CONFIG_SYS_CONSOLE_ENV_OVERWRITE=y
CONFIG_HUSH_PARSER=y
CONFIG_CMD_BOOTZ=y
# CONFIG_CMD_ELF is not set
CONFIG_CMD_FSIMAGE_IMX6=y
CONFIG_CMD_ASKENV=y
CONFIG_CMD_INI=y
CONFIG_CMD_ENV_CALLBACK=y
CONFIG_CMD_ENV_FLAGS=y
CONFIG_CMD_MEMTEST=y
CONFIG_CMD_UNZIP=y
# CONFIG_CMD_FLASH is not set
CONFIG_CMD_I2C=y
# CONFIG_CMD_LOADB is not set
# CONFIG_CMD_LOADS is not set
CONFIG_CMD_MMC=y
CONFIG_CMD_NAND=y
CONFIG_CMD_READ=y
CONFIG_CMD_USB=y
CONFIG_CMD_UPDATE=y
CONFIG_CMD_DHCP=y
CONFIG_CMD_MII=y
CONFIG_CMD_PING=y
CONFIG_CMD_CACHE=y
CONFIG_CMD_GETTIME=y
CONFIG_CMD_TIMER=y
CONFIG_CMD_EXT2=y
CONFIG_CMD_EXT4=y
CONFIG_CMD_FAT=y
CONFIG_CMD_FS_GENERIC=y
CONFIG_MTDIDS_DEFAULT="undef"
CONFIG_MTDPARTS_DEFAULT="undef"
CONFIG_CMD_UBI=y
CONFIG_ENV_IS_IN_MMC=y
CONFIG_ENV_IS_IN_NAND=y
CONFIG_NETCONSOLE=y
CONFIG_SYS_I2C_MXC=y
CONFIG_LED_STATUS0=y
CONFIG_LED_STATUS_BIT=0
CONFIG_LED_STATUS1=y
CONFIG_LED_STATUS_BIT1=1
CONFIG_LED_STATUS_CMD=y
CONFIG_MXC_OCOTP=y
CONFIG_NAND=y
CONFIG_NAND_MXS_FUS=y
CONFIG_NAND_REFRESH=y
CONFIG_PHYLIB=y
CONFIG_MV88E61XX_SWITCH=y
CONFIG_MV88E61XX_88E6020_FAMILY=y
CONFIG_MV88E61XX_CPU_PORT=6
CONFIG_MV88E61XX_REGISTER_OFFSET=0x10
CONFIG_MV88E61XX_PHY_PORTS=0x01F
CONFIG_MV88E61XX_FIXED_PORTS=0x060
CONFIG_PHY_MICREL=y
CONFIG_PHY_NATSEMI=y
CONFIG_NETDEVICES=y
CONFIG_FEC_MXC=y
CONFIG_MXC_UART=y
CONFIG_BLINK_IMX=y
CONFIG_USB=y
CONFIG_USB_EHCI_POWERDOWN=y
CONFIG_USB_STORAGE=y
CONFIG_VIDEO=y
CONFIG_VIDEO_MXS=y
# CONFIG_FAT_ORIG is not set
CONFIG_FAT_FUS=y
CONFIG_OF_LIBFDT=y
# CONFIG_EFI_LOADER is not set
