if TARGET_FSIMX8M

config SYS_BOARD
	default "fsimx8m"

config SYS_VENDOR
	default "F+S"

config SYS_SOC
	default "mx8m"

config SYS_CONFIG_NAME
	default "fsimx8m"
	  
source "board/freescale/common/Kconfig"

endif
